* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --roxo: #8F56C8;
    --lavanda: #E6E6FA;
    --offwhite: #F8F9FA;
    --nude: #E8D8CE;
    --preto: #000;

    
    --texto: #F8F9FA;
    --bg-color: #000;
}

.themeLight{
    display: block !important;
    animation: surgir 0.3s ease;
}

.themeDark {
    display: none !important;
}

[data-theme = 'light']{
    --texto: #000;
    --bg-color: #E6E6FA;
}

 [data-theme = 'light'] .themeDark {
    display: block !important;
    animation: surgir 0.3s ease;
    
}   

[data-theme = 'light'] .themeLight {
    display: none !important;
} 



body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--texto);
    font-family: "Montserrat", sans-serif !important;
}

html {
    scroll-behavior: smooth;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.2s;
}
